* {
  box-sizing: border-box;
}
header {
  margin: 0px;
  padding: 0px;
  background-color: rgb(58, 58, 58);
}
img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(17, 10, 10);
}
.container {
  background-color: rgb(17, 10, 10);
  margin: 3px;
  padding: 5px;
}
.box {
  display: inline-block;
  margin: 3px 0px;
  padding: 12px 10px;
  width: 33%;
  align-content: center;
  background-color: rgb(253, 241, 226);
}
h1 {
  color: rgb(246, 208, 150);
  font-family: cursive;
  text-align: center;
}
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  font-size: 16px;
  font-family: sans-serif;
  text-align: justify;
}
footer {
  margin: 10px;
  padding: 5px;
  background-color: rgb(170, 249, 255);
  text-align: center;
}
